

.btn{
    width: 94%;
    padding: 35px;
    margin-top: 10px;
    font-size: 28px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #FFC300 ;
    justify-content: center;
    font-family: sans-serif;

}

.btn a{
    color: #000;
    text-decoration: none;
}


